@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-Thin-5f65cfe7.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-ExtraLight-041fad1c.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-Light-1ba73b22.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-Medium-3bae5793.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-Bold-c16b88c6.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-ExtraBold-eedbd287.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('uploads/Pretendard-Black-0a7c1fd6.ttf') format('truetype');
}
